@import "tailwindcss";

@keyframes scale-up4 {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.5);
  }
}

@plugin "daisyui" {
  themes: all;
}

:root {
  --font-body: var(--font-inter);
  --font-heading: var(--font-poppins);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}

.bg-grid {
  background-color: var(--color-base-100);

  background-image:
    radial-gradient(
      circle at top,
      color-mix(in srgb, var(--color-base-content) 8%, transparent),
      transparent 60%
    ),
    linear-gradient(
      to right,
      color-mix(in srgb, var(--color-base-content) 8%, transparent) 3px,
      transparent 3px
    ),
    linear-gradient(
      to bottom,
      color-mix(in srgb, var(--color-base-content) 8%, transparent) 3px,
      transparent 3px
    );

  background-size:
    auto,
    32px 32px,
    32px 32px;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.font-pixelify {
  font-family: var(--font-pixelify);
}

.font-doto {
  font-family: var(--font-doto);
}

.font-molle {
  font-family: var(--font-molle);
}

.font-macondo {
  font-family: var(--font-macondo);
}

.font-pacifico {
  font-family: var(--font-pacifico);
}

.font-monofett {
  font-family: var(--font-monofett);
}

.font-monoton {
  font-family: var(--font-monoton);
}

.font-oswald {
  font-family: var(--font-oswald);
}

.font-quicksand {
  font-family: var(--font-quicksand);
}

.font-creepster {
  font-family: var(--font-creepster);
}

.font-galindo {
  font-family: var(--font-galindo);
}

.font-kameron {
  font-family: var(--font-kameron);
}

.font-micro5 {
  font-family: var(--font-micro5);
}

.font-sofia {
  font-family: var(--font-sofia);
}

.font-cookie {
  font-family: var(--font-cookie);
}

.font-mystery-quest {
  font-family: var(--font-mystery-quest);
}

.font-special-elite {
  font-family: var(--font-special-elite);
}

.font-iceberg {
  font-family: var(--font-iceberg);
}

.recharts-wrapper *:focus {
  outline: none !important;
}
